* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(https://images.unsplash.com/photo-1574192324001-ee41e18ed679?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
}
.login-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}
.login-box {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 800px;
  flex-wrap: wrap;
}
.col-1,
.col-2 {
  flex-basis: 50%;
  flex-grow: 1;
}
.col-1 img {
  width: 100%;
  display: block;
}
.col-2 {
  padding: 3rem;
  h2 {
    font-family: 'Pacifico';
    font-size: 2rem;
    font-weight: bold;
    opacity: 0.5;
    text-shadow: 4px 4px 7px red;
    letter-spacing: 0.1em;
    font-style: italic;
  }
}
.form-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .input-field {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid white;
    outline: none;
    display: block;
    width: 100%;
    margin: 5px 0 10px;
  }
  button {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid white;
    outline: none;
    display: block;
    width: 100%;
    margin: 18px 0 10px;
    font-weight: 500;
    cursor: pointer;
  }
}
